.shiny-text {
  color: #b5b5b5a4;

  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;

  -webkit-background-clip: text;
  background-clip: text;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  animation: shine 5s linear infinite;

  border: 1px solid #b5b5b5a4;
  border-radius: 9999px;

  padding: 20px 30px;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 2vh;

  cursor: pointer;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
  cursor: default;
}
