.foot {
    width: 100vw;
    height: 50vh;
    background-color: #4d4b4b;
    margin: 0;
    padding: 50px;
    position: absolute;
    top: 600%;
}

.foot ul {
    width: 40%;
    height: 20%;
    font-size: 3vh;
    color: beige;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.foot ul li {
    list-style: none;
    align-items: center;
    line-height: 4vh;
}

.foot li:hover {
    cursor: pointer;
    color: rgb(205, 212, 186);
}

.contact-info {
    width: 50%;
    height: 70%;
}

.contact-info img {
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left: 20px;
}

.contact-info h4 {
    font-weight: 200;
    font-size: 3vh;
    color: aliceblue;
    margin-top: 20px;
}

.footimg {
    width: 200px;
    height: auto;
    position: absolute;
    right: 5%;
    top: 9%;
    object-fit: contain;
}

.contact img {
    width: 60px;
    height: 60px;
    margin: 8px;
}

.contact img:hover {
    cursor: pointer;
    border: 1px solid #4d4b4b;
}

.contact {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 70%;
}

.contact h3 {
    font-size: 3vh;
    color: azure;
}

.nav-link1 {
    text-decoration: none;
    color: aliceblue;
    padding: 3px 8px;
    transition: all 0.3s ease;
}

.nav-link1:hover {
    color: antiquewhite;
    cursor: pointer;
}